<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 box">
    <div class="col-md-2">
      <%if @user_view.uploadCustomPic%>
        <div class="crop">
          <img src="<%=@user_view.pathToFile%>">
        </div>
      <%else%>
        <div class="crop">
          <img src="https://carsiteuploads.s3.amazonaws.com/imgs/profile.png"> 
        </div>
      <%end%>
    </div>
    <div class="col-md-4">
      <h2><%=@user_view.first_name + " " + @user_view.last_name%></h2>
      <%if @user_view.posts.count == 1%>
        <h3><%=@user_view.posts.count%> Total Post</h3>
      <%else%>
        <h3><%=@user_view.posts.count%> Total Posts</h3>
      <%end%>
    </div>

  </div>
  <%if current_user%>
    <%if @user.id == @user_view.id%>
      <form action="/profile/edit" method="GET">
        <button type="submit" class="delete_button">Edit Profile</button>
      </form>
    <%end%>
  <%end%>
</div>

<div class="row">
  <div class="col-md-1" style="height: 30px;"></div>
</div>

<%@posts.reverse_order.each do |post|%>
  
  <div class="row">
    <div class="col-md-3"></div>
    <a href="/posts/<%=post.id%>">
      <div class="col-md-6 box post">
        <div class="col-md-10" style="margin: 0px; padding:0px;">
          <h2><%=post.title%></h2>
          <p>

            </a>
            <a href="/users/<%=post.user_id%>">
              <%=User.find(post.user_id).first_name + " " + User.find(post.user_id).last_name%>
            </a>
            | <%=getTime(post.created_at)%> |
            <a href="/categories/<%=post.category_id%>">
              <%=Category.find(post.category_id).name%>
            </a>
            <a href="/posts/<%=post.id%>">

          </p>
        </div>

        <div class="col-md-2" style="margin: 0px; padding:0px;">
          </a>
          <form action="/posts/<%=post.id%>/likes" method="POST">
            <button style="float:right; padding: 5px;">
              <p style="display: inline;"><%=post.likes.count%></p>
              <%if post.likes.find_by(user_id: session[:user_id])%>
                <img src="https://carsiteuploads.s3.amazonaws.com/imgs/thumbsUp3.png" style="width: 25px; display: inline; margin: 10px;">
              <%else%>
                <img src="https://carsiteuploads.s3.amazonaws.com/imgs/thumbsUp.png" style="width: 25px; display: inline; margin: 10px;">
              <%end%>
            </button>
            <input type="hidden" name="redirect" value="<%=request.path_info%>">
          </form>
          <a href="/posts/<%=post.id%>">
        </div>
        <img src="<%=post.pathToFile%>" class="postImg">

        <p><%=post.content%></p>
      </div>
    </a>
  </div>
 

  <div class="row">
    <div class="col-md-1" style="height: 30px;"></div>
  </div>
<%end%>
